{% extends 'base.html' %}

{% block body_header %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="d-flex justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="filter"></i></div>
                            Slot List
                        </h1>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'routine:slot_create' %}" class="btn btn-light">Add New Slot&nbsp;<i class="fas fa-plus"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body_header %}

{% block body %}
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Start Effect Date</th>
                        <th>End Effect Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Start Effect Date</th>
                        <th>End Effect Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for slot in slots %}
                        <tr>
                            <td>{{ slot.id }}</td>
                            <td>{{ slot.start_time }}</td>
                            <td>{{ slot.end_time }}</td>
                            <td>{{ slot.slot.start_effect_date }}</td>
                            <td>{{ slot.slot.end_effect_date }}</td>
                            <td>{{ slot.slot.status }}</td>
                            <td class="text-center">
                                <a href="{% url 'routine:slot_update' %}?id={{ slot.id }}" class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i
                                        data-feather="edit"></i></a>

                                        <a href="{% url 'routine:slot_delete' slot.id %}"
                                        class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                        <i class="fa fa-trash delete" aria-hidden="true"></i>
                                </a>   
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_here %}
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });

    </script>
{% endblock js_here %}