{% extends 'base.html' %}
{% block css_here %}
    {{ form.media }}
{% endblock css_here %}

{% block body_header %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        {% if offers %}
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            Upadte Offer New Course
                        </h1>
                        {% else %}
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            Offer New Course
                        </h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body_header %}

{% block body %}
    <div class="container-xl px-4 mt-n10">
        <div id="default">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Component Preview-->
                    <div class="sbp-preview">
                        <div class="sbp-preview-content">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label for="semester">Semester</label>
                                    <select class="form-control form-control-solid" id="semester" name="semester">
                                        <option>Chose One</option>
                                        {% for semester in semesters %}
                                            <option value="{{ semester.id }}"
                                                    {% if offers.semester.id == semester.id %}
                                                    selected
                                                    {% endif %}
                                            >{{ semester.name|title }}-{{ semester.year }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row mb-3">
                                    <label for="batch">Batch</label>
                                    <select class="form-control form-control-solid" id="batch" name="batch">
                                        <option>Chose One</option>
                                        {% for batch in batches %}
                                            <option value="{{ batch.id }}"
                                                    {% if offers.batch.id == batch.id %}
                                                    selected
                                                    {% endif %}
                                            >{{ batch.curriculum.program.department.department_id|upper}}-{{ batch.batch|upper }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row mb-3">
                                    <label for="course">Course</label>
                                    <select class="form-control form-control-solid" id="course" name="course">
                                        <option>Select Batch First</option>
                                    </select>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button class="btn btn-primary">
                                        {% if offer %}
                                            Update
                                        {% else %}
                                            Submit
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block js_here %}
    <script>
        $("#batch").change(function(){
            request = $.ajax({
                    url: '/getBatchWiseCourse/',
                    type: "get",
                    data: {
                        'batch': $("#batch").val(),
                    },
                    success: function (resp) {
                        console.log(resp)
                        cnt = 0;
                        $("#course").empty();
                        $("#course").append(`<option value="">Chose One</option>`);
                        for (let crs of resp.courses) {
                            $("#course").append(`<option value="` + crs[0] + `">` + crs[1] + ` - ` + crs[2] + `</option>`);
                            cnt++;
                        }
                        if (cnt == 0) {
                            $("#course").empty();
                            $("#course").append(`<option value="" selected>No Course Available</option>`);
                        }
                    }
                });
        });
    </script>
{% endblock %}