{% extends 'base.html' %}
{% block css_here %}
    {{ form.media }}
{% endblock css_here %}

{% block body_header %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        {% if curriculums %}
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            Update Curriculum
                        </h1>
                        {% else %}
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            Add Curriculum
                        </h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body_header %}

{% block body %}
    <div class="container-xl px-4 mt-n10">
        <div id="default">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Component Preview-->
                    <div class="sbp-preview">
                        <div class="sbp-preview-content">
                            <form method="POST" id="cur_form">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="program_id">Program</label>
                                    <select class="form-control form-control-solid" id="program" name="program">
                                        <option>Chose One</option>
                                        {% for program in programs %}
                                            <option value="{{ program.id }}"
                                                    {% if curriculums.program.id == program.id %}
                                                    selected
                                                    {% endif %}
                                            >{{ program.program_id }}
                                                in {{ program.department.department_id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="title">Total Credit</label>
                                    <input class="form-control" type="text" id="total_credit" name="total_credit"
                                           placeholder="Total Credit"
                                            {% if curriculums %}
                                                value="{{ curriculums.total_credit }}"
                                            {% endif %}
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="title">Start Effect Date</label>
                                    {{ form.start_effect_date }}
                                </div>
                                <div class="mb-3">
                                    <label for="title">End Effect Date</label>
                                    {{ form.end_effect_date }}
                                </div>
                                <div class="mb-3">
                                    <label for="program_id">Status</label>
                                    <select class="form-control form-control-solid" id="active" name="active">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button" onclick="formSubmit()">
                                        {% if curriculums %}
                                            Update
                                        {% else %}
                                            Submit
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js_here %}
    <script>
        function formSubmit() {
            if (!$("#id_end_effect_date").val()) {
                $("#id_end_effect_date").val($("#id_start_effect_date").val());
            }

            $("#cur_form").submit();
        }
    </script>
{% endblock %}