{% extends 'base.html' %}


{% block body_header %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="d-flex justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="filter"></i></div>
                            Curriculum List
                        </h1>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'faculty:curriculum_create' %}" class="btn btn-light">Add New Curriculum&nbsp;<i
                                class="fas fa-plus"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body_header %}

{% block body %}
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Program</th>
                        <th>Start Effecting Date</th>
                        <th>End Effecting Date</th>
                        <th>Total Credit</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Program</th>
                        <th>Start Effecting Date</th>
                        <th>End Effecting Date</th>
                        <th>Total Credit</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for cur in curriculums %}
                        <tr>
                            <td>{{ cur.id }}</td>
                            <td>{{ cur.program.program_id }} in {{ cur.program.department.department_id }}</td>
                            <td>{{ cur.start_effect_date }}</td>
                            <td>
                                {% if cur.start_effect_date == cur.end_effect_date %}
                                    ---
                                {% else %}
                                    {{ cur.end_effect_date }}
                                {% endif %}
                            </td>
                            <td>{{ cur.total_credit }}</td>
                            <td>{{ cur.active }}</td>
                            <td class="text-center">
                                <a href="{% url 'faculty:curriculum_update' %}?id={{cur.id}}"
                                   class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i
                                        data-feather="edit" class='edit'></i></a>
                                
                                <a href="{% url 'faculty:curriculum_delete' cur.id %}"
                                   class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                   <i class="fa fa-trash delete" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_here %}
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });

    </script>
{% endblock js_here %}