{% extends 'base.html' %} {% block body_header %}
<header
  class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <a href="" id="linkview" class="text-dark"></a>
          <button onclick="myFunction()">Copy text</button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-xl px-4">
    <div class="page-header-content pt-4">
      <div class="d-flex justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i data-feather="filter"></i></div>
            Program List
          </h1>
        </div>
        <div class="mt-4">
          <a href="{% url 'faculty:teacher_create' %}" class="btn btn-light"
            >Add New Teacher&nbsp;<i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock body_header %} {% block body %}
<div class="container-xl px-4 mt-n10">
  <div class="card mb-4">
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Contact Info</th>
            <th>Contact Hour</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Contact Info</th>
            <th>Contact Hour</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for teacher in teachers %}
          <tr>
            <td>{{teacher.id}}</td>
            <td>{{teacher.teacher_id}}</td>
            <td>
              {{ teacher.first_name }} {{teacher.last_name}}
              <p class="text-muted m-0">{{teacher.name_initials}}</p>
            </td>
            <td>{{ teacher.department.department_id }}</td>
            <td>{{ teacher.designation }}</td>
            <td>
              {{ teacher.email }}
              <p class="text-muted m-0">{{teacher.contact_number}}</p>
            </td>
            <td>{{ teacher.contact_hour }}</td>
            <td class="text-center">
              <button
                class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                onclick="genResetLink({{teacher.id}})"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i data-feather="lock"></i>
              </button>
              <a
                href="{% url 'faculty:teacher_update' %}?id={{teacher.id}}"
                class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                ><i data-feather="edit"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block js_here %}
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    // Simple-DataTables
    // https://github.com/fiduswriter/Simple-DataTables/wiki

    const datatablesSimple = document.getElementById("datatablesSimple");
    if (datatablesSimple) {
      new simpleDatatables.DataTable(datatablesSimple);
    }
  });

  function genResetLink(id) {
    console.log(id);
    request = $.ajax({
      url: "/teacher/reset/",
      type: "post",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        teacher_id: id,
      },
      success: function (resp) {
        console.log(resp);
        document.getElementById("linkview").href = resp.reset_url;
        document.getElementById("linkview").innerHTML = resp.reset_url;
      },
    });
  }

  function myFunction() {
    var copyText = document.getElementById("linkview");

    copyText[0].select();
    copyText.setSelectionRange(0, 99999);

    navigator.clipboard.writeText(copyText.value);

    alert("Copied the text: " + copyText.value);
  }
</script>
{% endblock js_here %}
